# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv environment variables
.env
.env.local
.env.*.local

# Logs
logs/
*.log
*.log.*

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# TypeScript cache
*.tsbuildinfo

# Coverage directory used by testing tools
coverage/

# Output of build tools
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db

# VSCode settings
.vscode/

# Docker-related
docker-compose.override.yml

